In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('./Incremental/Toconcatenate.csv')

In [4]:
df.head(2)

,0,2022-12-07T13:09:00.330Z,19.4804992675781,-155.572174072266,-2.09999990463257,1.73000002,md,8.0,172.0,Unnamed: 9,...,2022-12-07T13:12:01.180Z,"30 km E of Honaunau-Napoopoo, Hawaii",earthquake,1.14,0.959999979,0.180000007,5.0,automatic,hv.1,hv.2
0,1,2022-12-07T13:04:44.541Z,61.3471,-147.7464,33.9,1.0,ml,NaN,NaN,NaN,...,2022-12-07T13:07:07.370Z,"51 km S of Glacier View, Alaska",earthquake,NaN,0.2,NaN,NaN,automatic,ak,ak
1,2,2022-12-07T12:46:16.699Z,61.6445,-146.4308,29.6,2.1,ml,NaN,NaN,NaN,...,2022-12-07T12:48:10.474Z,"42 km SSE of Nelchina, Alaska",earthquake,NaN,0.4,NaN,NaN,automatic,ak,ak

In [5]:
df.columns = ['fuera','time','latitude','longitude','depth','mag','magType','nst','gap','dmin','rms','net','id','updated','place','type','horizontalError','depthError','magError','magNst','status','locationSource','magSource']

In [6]:
pd.options.display.max_columns = 0
df.head(2)

   fuera                      time  ...  locationSource  magSource
0      1  2022-12-07T13:04:44.541Z  ...              ak         ak
1      2  2022-12-07T12:46:16.699Z  ...              ak         ak

[2 rows x 23 columns]

In [7]:
fila = {'fuera' : '0', 'time' : '1950-01-30T01:34:11.520Z', 'latitude' : '33.6956667', 'longitude' : '-118.3898333',
       'depth' : '6.0', 'mag' : '2.41', 'magType' : 'ml', 'nst' : '5.0', 'gap' : '277.0', 'dmin' : '0.4868',
       'rms' : '0.38', 'net' : 'ci', 'id' : 'ci3362482', 'updated' : '2016-01-28T17:58:15.530Z',
       'place' : '5km S of Rancho Palos Verdes, CA', 'type' : 'earthquake', 'horizontalError' : '1.9', 'depthError' : '31.61',
       'magError' : '0.146','magNst' : '6.0.1','status' : 'reviewed','locationSource' : 'ci.1', 'magSource' : 'ci.2'}

In [8]:
df = df.append(fila, ignore_index = True)

In [9]:
#df['time'] = pd.to_datetime(df.time, errors = 'coerce')
df

       fuera                      time  ... locationSource magSource
0          1  2022-12-07T13:04:44.541Z  ...             ak        ak
1          2  2022-12-07T12:46:16.699Z  ...             ak        ak
2          3  2022-12-07T12:30:33.426Z  ...             us        us
3          4  2022-12-07T12:26:27.080Z  ...             hv        hv
4          5  2022-12-07T12:23:33.790Z  ...             ak        ak
...      ...                       ...  ...            ...       ...
13258  11331  2022-11-01T00:09:47.610Z  ...             hv        hv
13259  11332  2022-11-01T00:06:29.998Z  ...             ak        ak
13260  11333  2022-11-01T00:02:25.576Z  ...             tx        tx
13261  11334  2022-11-01T00:02:16.321Z  ...             ak        ak
13262      0  1950-01-30T01:34:11.520Z  ...           ci.1      ci.2

[13263 rows x 23 columns]

In [10]:
df.drop(['fuera'], axis = 1,inplace=True)

In [11]:
df.head()

                       time   latitude  ... locationSource magSource
0  2022-12-07T13:04:44.541Z    61.3471  ...             ak        ak
1  2022-12-07T12:46:16.699Z    61.6445  ...             ak        ak
2  2022-12-07T12:30:33.426Z     0.7701  ...             us        us
3  2022-12-07T12:26:27.080Z  19.408501  ...             hv        hv
4  2022-12-07T12:23:33.790Z    61.5923  ...             ak        ak

[5 rows x 22 columns]

# Revisado de valores de las columnas

In [12]:
df['type'].unique()

array(['earthquake', 'quarry blast', 'explosion', 'ice quake',
       'other event'], dtype=object)

In [13]:
df['status'].unique()

array(['automatic', 'reviewed'], dtype=object)

In [14]:
df['locationSource'].unique()

array(['ak', 'us', 'hv', 'nn', 'ci', 'nc', 'ok', 'pr', 'uw', 'nm', 'tx',
       'uu', 'av', 'se', 'ci.1'], dtype=object)

In [15]:
df['magSource'].unique()

array(['ak', 'us', 'hv', 'nn', 'ci', 'nc', 'ok', 'pr', 'uw', 'nm', 'tx',
       'uu', 'av', 'se', 'guc', 'pgc', 'ci.2'], dtype=object)

In [16]:
df['magNst'].unique()

array([nan, 30.0, 4.0, 10.0, 19.0, 12.0, 28.0, 26.0, 11.0, 17.0, 5.0,
       18.0, 13.0, 24.0, 14.0, 33.0, 8.0, 9.0, 74.0, 47.0, 7.0, 6.0, 15.0,
       31.0, 29.0, 25.0, 21.0, 22.0, 93.0, 70.0, 35.0, 16.0, 27.0, 44.0,
       1.0, 46.0, 63.0, 3.0, 32.0, 91.0, 77.0, 20.0, 72.0, 2.0, 38.0,
       150.0, 126.0, 23.0, 34.0, 171.0, 41.0, 36.0, 40.0, 81.0, 73.0,
       60.0, 45.0, 49.0, 240.0, 37.0, 292.0, 162.0, 341.0, 370.0, 43.0,
       125.0, 217.0, 99.0, 191.0, 243.0, 54.0, 67.0, 79.0, 136.0, 65.0,
       52.0, 62.0, 80.0, 64.0, 669.0, 51.0, 39.0, 307.0, 116.0, 42.0,
       53.0, 55.0, 83.0, 117.0, 48.0, 0.0, 155.0, 317.0, 181.0, 71.0,
       58.0, 88.0, 122.0, 75.0, 68.0, 50.0, 76.0, 129.0, 61.0, 522.0,
       431.0, 57.0, 157.0, 147.0, 59.0, 56.0, 85.0, 163.0, 139.0, 110.0,
       69.0, 387.0, 146.0, 130.0, 144.0, 119.0, 92.0, 98.0, 89.0, 392.0,
       96.0, 123.0, 108.0, 540.0, 132.0, 149.0, 103.0, 131.0, 112.0,
       100.0, 82.0, 165.0, 160.0, 94.0, 120.0, 415.0, 186.0, 104.0, 151.0,
       118.0, 142.0, 229.0, 106.0, 427.0, 225.0, 252.0, 344.0, 87.0,
       184.0, 86.0, 134.0, 105.0, 148.0, 114.0, 101.0, 84.0, 714.0, 187.0,
       143.0, 312.0, 111.0, 90.0, 253.0, 463.0, 434.0, 198.0, 124.0,
       223.0, 565.0, 66.0, 289.0, 145.0, 95.0, 272.0, 161.0, 222.0, 152.0,
       228.0, 247.0, 388.0, 128.0, 227.0, 334.0, 190.0, 121.0, 135.0,
       218.0, 78.0, 127.0, 138.0, 140.0, 349.0, 180.0, 115.0, 361.0,
       248.0, '6.0.1'], dtype=object)

In [17]:
df['net'].unique()

array(['ak', 'us', 'hv', 'nn', 'ci', 'nc', 'ok', 'pr', 'uw', 'nm', 'tx',
       'uu', 'av', 'se'], dtype=object)

In [18]:
df['magType'].unique()

array(['ml', 'mb', 'md', 'mww', 'mw', 'mwr', 'mh', 'mlv', 'mb_lg', 'mwb',
       nan], dtype=object)

In [19]:
df.head(2)

                       time latitude  ... locationSource magSource
0  2022-12-07T13:04:44.541Z  61.3471  ...             ak        ak
1  2022-12-07T12:46:16.699Z  61.6445  ...             ak        ak

[2 rows x 22 columns]

# Creamos un nuevo dataframe con las columnas que vamos a utilizar

In [20]:
df_nuevo=df[['time','latitude','longitude','depth','mag','magType','nst','gap','dmin','rms','net','place','type']]

In [21]:
df_nuevo.head(2)

                       time  ...        type
0  2022-12-07T13:04:44.541Z  ...  earthquake
1  2022-12-07T12:46:16.699Z  ...  earthquake

[2 rows x 13 columns]

Analizamos bien la columna magType

In [22]:
df_nuevo['magType'].unique()

array(['ml', 'mb', 'md', 'mww', 'mw', 'mwr', 'mh', 'mlv', 'mb_lg', 'mwb',
       nan], dtype=object)

# Cambiamos el tipo de dato a la columna mag

In [23]:
df_nuevo=df_nuevo.astype({'mag':'float32'})

# Utilizamos solo las magnitudes mayores a 1.5

In [24]:
mag_max_1=df_nuevo[df_nuevo['mag']>1.5]

Revisamos la diferencia de datos del dataset original al nuevo

In [25]:
#1.970.000 filas y 13 columnas
mag_max_1.shape

(6268, 13)

In [26]:
#4 millones de filas y 22 columnas
df.shape

(13263, 22)

# Filtramos solo los que sean earthquake

In [27]:
earthquake=mag_max_1[mag_max_1['type']=='earthquake']

In [28]:
# Consideramos que esto no considera una mejora significativa para nuestro modelo por lo que es mejor simplemente dejar esta columna y dejar los datos de esta
earthquake.shape

(6193, 13)

# Borramos los nulos

In [29]:
mag_max_1.dropna(inplace=True)

/opt/conda/lib/python3.7/site-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [30]:
mag_max_1.shape

(3266, 13)

# Arreglamos la columna Time

In [31]:
date_col = 'time'
datetimes = mag_max_1[date_col].str.split('T', expand = True)
dates = pd.to_datetime(datetimes.loc[:, 0], format = '%Y-%m-%d')
hours = datetimes.loc[:, 1]
hours = hours.astype('str')
hours2=hours.str.split('.',expand=True)
hours2=hours2.loc[:,0]
mag_max_1 = pd.concat((mag_max_1, hours2.rename('hour')), axis=1)
mag_max_1 = pd.concat((mag_max_1, dates.rename('date')), axis=1)
mag_max_1 = mag_max_1.drop(date_col, axis=1)

# Arreglamos la columna MagType

In [32]:
mag_max_1['magType']= mag_max_1['magType'].replace('Unknown','ml')
mag_max_1['magType']= mag_max_1['magType'].replace('Ml','ml')
mag_max_1['magType']= mag_max_1['magType'].replace('Md','md')
mag_max_1['magType']= mag_max_1['magType'].replace('Mb','mb')
mag_max_1['magType']= mag_max_1['magType'].replace('Mi','ml')

# Guardamos el CSV

In [33]:
mag_max_1.to_csv('./ConcatenaIncremental/Ultimomes.csv')

In [ ]:
mag_max_1.head()

In [34]:
def join_csv(path=None, out_file=None):

    if path is None:
        files = [file for file in os.listdir() if '.csv' in file]
    else:
        files = [os.path.join(path, file) for file in os.listdir(path) if '.csv' in file]
        
    df = pd.concat(map(pd.read_csv, files), ignore_index=True)
    
    if out_file is not None:
        if path is None:
            df.to_csv(out_file,index=False,header=None)
        else:
            df.to_csv(os.path.join(path, out_file),index=False,header=None)
        
    return df

In [35]:
join_csv(r'./ConcatenaIncremental','./SalidaFinal.csv')

NameError: name 'os' is not defined